<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{todo_object.name}}</title>
    </head>
    <body>
        <main>
            <div>
                <a href="{% url 'todo_list_list' %}">Home Page</a>
                <h1>{{todo_object.name}}</h1>
                <p><a href="{% url 'todo_list_update' todo_object.id %}">Edit</a></p>
                <p><a href="{% url 'todo_item_update' todo_object.id %}">Update Item</a></p>
                <p><a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a></p>
                <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for task in todo_object.items.all %}
                        <tr>
                            <td>{{task.task_name}}</td>
                            <td>{{task.due_date | date:"F n, Y"}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>