<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=`, initial-scale=1.0">
        <title>Create a New Todo List</title>
    </head>
    <body>
        <main>
            <div>
                <a href="{% url 'todo_list_list' %}">Home</a>
                <h1>Update Item</h1>
                <form method='post'>
                        {% csrf_token %}
                        {{ form.as_p }}
                    
                    <button>Update</button>
                </form>
            </div>
        </main>
    </body>
</html>